<aside>
    <div class="StyledLogoDiv">
        Admin Portal
    </div>
    <nav class="styled-nav">
        <ul class="StyledNavListUl">
            <li>
                <a routerLink="/dashboard" class="StyledNavLinka">
                    <i class="fa fa-dashboard fa-1x"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a routerLink="/manage-catalog" class="StyledNavLinka">
                    <i class="fa fa-th fa-1x"></i>
                    <span>Manage Catalog</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>