
<div class="tile">
  <ngx-charts-bar-vertical [view]="view" [results]="single" [gradient]="gradient" [xAxis]="showXAxis"
  [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" (select)="onSelect($event)" (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)">
  </ngx-charts-bar-vertical>
</div>


<div class="tile">
<ngx-charts-pie-grid
  [view]="view"
  [results]="single"
  (select)="onSelect($event)">
</ngx-charts-pie-grid>
</div>
