.login-div{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center; 
 height: 100vh;
}

.login-button {
  /* background: #6b51df; */
  border: none;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;

  /* background-color: #28a745; */
  /* border-color: #1c7430; */

  background: #6b51df;
  border-color: #6b51df;
}